<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston Realtors</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100 items-center justify-center">
    <div class="flex min-h-screen items-center justify-center bg-white w-full">
      <div class="flex flex-col items-center p-6 w-full max-w-4xl mx-auto">
        <h1 class="text-3xl font-semibold text-blue-gray-900 my-4 text-center">Boston Realtors</h1>
        <div class="w-full text-left">
          <%= form_with url: realtors_search_index_path, method: :get, local: true, data: { controller: "search", action: "input->search#search" } do |form| %>
            <div class="mb-4">
              <%= form.text_field :first_name, value: params[:first_name], placeholder: "Search by First Name", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", data: { action: "input->search#search" } %>
            </div>
          <% end %>
        </div>
        <%= render partial: "realtors/search/realtors_list", locals: { realtors: @realtors } %>
      </div>
    </div>
  </body>
</html>